server {
    listen              443 ssl;
    ssl_certificate     /etc/letsencrypt/live/$HOSTNAME/cert.pem;
    ssl_certificate_key /etc/letsencrypt/live/$HOSTNAME/privkey.pem;
    location /radio {
        proxy_pass      http://localhost:8000;
    }
}
